.frame-icon8,
.frame-icon9,
.frame43 {
  position: absolute;
  top: 0;
  height: 1239px;
  overflow: hidden;
}
.frame-icon8 {
  left: 5px;
  width: 1881px;
  object-fit: cover;
}
.frame-icon9,
.frame43 {
  left: -13px;
  width: 1886px;
}
.frame-icon9 {
  width: 1894px;
  height: 128px;
}
.openart-image-btrzgzrg-1722126-icon,
.openart-image-dr96t8b6-1722126-icon {
  position: absolute;
  top: 0;
  left: 770px;
  width: 489px;
  height: 489px;
  object-fit: cover;
}
.openart-image-btrzgzrg-1722126-icon {
  left: 115px;
  width: 354px;
  height: 354px;
}
.frame-icon10,
.frame44,
.frame46 {
  position: absolute;
  top: 17px;
  left: 0;
  width: 469px;
  height: 354px;
  overflow: hidden;
}
.frame-icon10,
.frame44 {
  top: 2014px;
  left: -13px;
  width: 1259px;
  height: 489px;
}
.frame-icon10 {
  top: 95px;
  left: 0;
  width: 1886px;
  height: 604px;
}
.openart-image-a2jt-m0f-1722126-icon {
  position: absolute;
  top: 0;
  left: 115px;
  width: 676px;
  height: 700px;
  object-fit: cover;
}
.frame48 {
  position: absolute;
  top: 203px;
  left: 0;
  width: 791px;
  height: 700px;
  overflow: hidden;
}
.openart-image-wfs-vz-1722126-icon {
  position: absolute;
  top: 0;
  left: 680px;
  width: 353px;
  height: 353px;
  object-fit: cover;
}
.frame49 {
  position: absolute;
  top: 43px;
  left: 0;
  width: 1033px;
  height: 353px;
  overflow: hidden;
}
.openart-image-dpgkiwpr-1722125-icon {
  position: absolute;
  top: 0;
  left: 1152px;
  width: 729px;
  height: 729px;
  object-fit: cover;
}
.frame47,
.frame50 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1881px;
  height: 729px;
  overflow: hidden;
}
.frame47 {
  top: 591px;
  left: -13px;
  width: 1886px;
  height: 903px;
}
.frame-child10,
.frame52,
.frame53 {
  position: absolute;
  top: 0;
  height: 1715px;
}
.frame-child10 {
  left: 8px;
  background-color: var(--color-gray-200);
  width: 1879px;
}
.frame52,
.frame53 {
  left: 6px;
  width: 1880px;
  overflow: hidden;
}
.frame52 {
  top: 129px;
  left: 0;
  width: 1886px;
}
.openart-image-4yedrte1-1722126-icon {
  position: absolute;
  top: 0;
  left: 271px;
  width: 775px;
  height: 775px;
  object-fit: cover;
}
.frame54 {
  position: absolute;
  top: 289px;
  left: 0;
  width: 1046px;
  height: 775px;
  overflow: hidden;
}
.openart-image-a2jt-m0f-1722126-icon1 {
  position: absolute;
  top: 0;
  left: 13px;
  width: 584px;
  height: 584px;
  object-fit: cover;
}
.frame55 {
  position: absolute;
  top: 242px;
  left: 0;
  width: 597px;
  height: 584px;
  overflow: hidden;
}
.openart-image-bjm3gheu-1722126-icon {
  position: absolute;
  top: 0;
  left: 703px;
  width: 483px;
  height: 484px;
  object-fit: cover;
}
.frame51,
.frame56 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1186px;
  height: 484px;
  overflow: hidden;
}
.frame51 {
  top: 1144px;
  left: -13px;
  width: 1886px;
  height: 1844px;
}
.openart-image-idvll0hj-1722125-icon {
  position: absolute;
  top: 0;
  left: 1172px;
  width: 353px;
  height: 353px;
  object-fit: cover;
}
.frame58 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1525px;
  height: 353px;
  overflow: hidden;
}
.openart-image-h1ointgx-1722127-icon {
  position: absolute;
  top: 0;
  left: 1015px;
  width: 866px;
  height: 864px;
  object-fit: cover;
}
.frame57,
.frame59 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1881px;
  height: 864px;
  overflow: hidden;
}
.frame57 {
  top: 1468px;
  left: -13px;
}
.openart-image-cwdnewaa-1722125-icon {
  position: absolute;
  top: 0;
  left: 703px;
  width: 353px;
  height: 354px;
  object-fit: cover;
}
.frame61 {
  position: absolute;
  top: 377px;
  left: 0;
  width: 1056px;
  height: 354px;
  overflow: hidden;
}
.openart-image-80m2qa00-1722127-icon {
  position: absolute;
  top: 0;
  left: 13px;
  width: 801px;
  height: 799px;
  object-fit: cover;
}
.frame63 {
  position: absolute;
  top: 0;
  left: 0;
  width: 814px;
  height: 799px;
  overflow: hidden;
}
.openart-image-bfwztcam-1722127-icon {
  position: absolute;
  top: 0;
  left: 1172px;
  width: 618px;
  height: 711px;
  object-fit: cover;
}
.frame60,
.frame62,
.frame64 {
  position: absolute;
  top: 74px;
  left: 0;
  width: 1790px;
  height: 711px;
  overflow: hidden;
}
.frame60,
.frame62 {
  top: 0;
  height: 799px;
}
.frame60 {
  top: 2159px;
  left: -13px;
}
.item-link10,
.item-link11,
.item-link12,
.item-link9 {
  position: absolute;
  top: 28px;
  left: calc(50% - 502.4px);
  line-height: 13px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 34.1px;
  height: 13px;
  transform: rotate(180deg);
  transform-origin: 0 0;
  cursor: pointer;
}
.item-link10,
.item-link11,
.item-link12 {
  left: calc(50% + 328.6px);
  width: 98.3px;
}
.item-link11,
.item-link12 {
  left: calc(50% + 46.2px);
  width: 79.7px;
  transform: rotate(-180deg);
}
.item-link12 {
  top: 24px;
  left: calc(50% - 169.5px);
  width: 145px;
  height: 11px;
}
.container8 {
  position: absolute;
  top: 76px;
  left: 82px;
  width: 1815px;
  height: 38px;
}
.div6 {
  width: 100%;
  position: relative;
  background: linear-gradient(red, red), red;
  height: 2988px;
  overflow-y: auto;
  text-align: center;
  font-size: var(--font-size-smi-8);
  color: var(--color-white);
  font-family: var(--font-jost);
}
